

.rglPlayer {
  width: auto;
  height: auto;
}

.rglPlayer .rgl-button {
  width: auto;
  display: inline-block;
  font-size: 75%;
}

.rglPlayer .rgl-slider {
  display: inline-block;
  width: 30%;
}

.rglPlayer .rgl-label {
  display: inline;
  padding-left: 6px;
  padding-right: 6px;
}


.js-irs-0 .irs-bar {
background: #2CDEEB;
border-color: #2CDEEB;
}

.js-irs-0 .irs-from {
background: #2CDEEB;
border-color: #000000;
color: #000000;
}

.js-irs-0 .irs-to {
background: #2CDEEB;
border-color: #000000;
color: #000000;
}
.js-irs-0 .irs-single {
background: #2CDEEB;
border-color: #000000;
color: #000000;
}
.checkbox-filter {
        margin: 0;
}
.shiny-input-container {margin-bottom: 0;}
.checkbox {margin: 0}
        .checkbox p {margin: 0;}

.hidden-xs {
  color: #000000;
}
